services:
  - type: web
    name: timebank
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        value: postgresql://postgres.mvpugxwlufztwqunjysf:olawanle@aws-0-us-east-1.pooler.supabase.com:6543/postgres
